%ol
  %li
    Get a 
    =link_to "Heroku", "http://www.heroku.com"
    account
  %li
    %pre
      heroku create <your app name here>
    %pre
      git push heroku master
  %li
    Have a beer
      