!!! 5
%html
  %head
    %title
      SassRoku
    =stylesheet_link_tag "/stylesheets/screen.css"
    
  %body
    #header
      %a{:href => '/'}
        %h1
          HAML + SASS + HEROKU
    #content
      = yield